# Yarn Berry (기본 무시 + 필요한 것만 예외)
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Yarn 캐시/언플러그 상태 파일
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# (중요) 루트에 생긴 구버전/잔여 폴더도 같이 무시
cache/
unplugged/
install-state.gz

# build artifacts
dist
